.title {
  text-align: center;
  color: #222222;
  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  line-height: 36px;
}

.subtitle {
  text-align: center;
  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #9f9f9f;
}

.container-wrapper {
  display: grid;
  place-items: center;
}

/* Стили для контейнера-грида */
.container {
  display: grid;
  grid-template-columns: repeat(auto-fit, 360px);
  gap: 30px;
  justify-items: center;
  justify-content: flex-start;
  /* Изменено свойство для прижатия карточек */
  max-width: 1140px;
  /* Ограничение ширины контейнера-грида */
  margin: 0 auto;
  /* Центрирование контейнера-грида по горизонтали */
  padding: 20px;
  /* Добавлен отступ вокруг контейнера-грида */
}

/* Стили для карточки товара */
.item {
  width: 360px;
  height: 581px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #f8f8f8;
}

.item img {
  width: 360px;
  height: 420px;
}

/* ELLERY X M'O CAPSULE */

.item .name {
  width: 100%;
  height: 16px;
  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 16px;
  color: #000000;
  padding-left: 10px;
  flex: none;
  order: 0;
  flex-grow: 0;
  margin-left: 16px;
  margin-right: 30px;
}

/* Known for her sculptural takes on traditional tailoring, Australian arbiter of cool Kym Ellery teams up with Moda Operandi. */

.item .description {
  width: 100%;
  height: 51px;
  font-family: "Lato";
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
  color: #5d5d5d;
  padding-left: 10px;
  flex: none;
  order: 1;
  flex-grow: 0;
  margin-left: 16px;
  margin-right: 30px;
}

/* $52.00 */

.item .price {
  width: 100%;
  height: 19px;
  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #f16d7f;
  padding-left: 10px;
  flex: none;
  order: 2;
  flex-grow: 0;
  margin-left: 16px;
  margin-right: 30px;
  margin-bottom: 16px;
}

.browse-btn {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 211px;
  height: 47px;
  border: 1px solid #ff6a6a;
  margin-top: 48.5px;
  margin-bottom: 95.5px;
  line-height: 47px;
  color: #f26376;
  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  text-align: center;
}
